backups
crash-reports
journeymap
local
logs
mods
patchouli_books
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
defaultconfigs
PCL
schematics
downloads
profileImage

usercache.json
usernamecache.json
patchouli_data.json
options.txt
optionsof.txt
minecraftinstance.json
manifest.json
.ReAuth.cfg
*.dat
*.curseclient
*.lnk
*.log
*.old
*.csv
log4j2.xml